<div id="wrapLogin" style="width:30%; margin:200px auto;" ><br />

<?php
$this->assign('title', 'Login');
	echo $this->Form->create('User', ['class' => 'form-signin']);
	echo $this->Form->control('username', ['class' => 'form-control']);
	echo '<br />';
	echo $this->Form->control('password', ['class' => 'form-control']);
	echo '<br />';
	echo $this->Form->submit('Login', ['class' => 'btn btn-outline-primary']);
	echo $this->Form->end();

?>
</div>