body{
	z-index: 10;
}


table {
    table-layout: fixed;
    width: 80%;
}

table tr th {
    padding: 0.5625rem 0.625rem;
    font-size: 0.9rem;
    text-align: left;
    border-bottom: 3px solid #1798A5;
}

#popupLayer{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100vw;
	height: 100vh;
	z-index: 100;
	background-color: rgba(10, 10, 10, 0.7);
}


#popup{
	z-index: 110;
	position: absolute;
	top: 26%;
	left: 37%;
	width: 300px;
	height: 200px;
	border: 1px solid black;
	border-radius: 6px;
	box-shadow: 5px 5px 10px #666;
	background-color: #fff;
	text-align: center;
	font-weight: bold;
}

.xes{
	cursor: pointer; 
	float: right; 
	padding: 2px 15px;
	margin-bottom: 5px;
	background-color: darkred;
	color: white;
	border: 1px solid darkred;
	border-radius: 0px 5px 0px 10px;
}

.actions{
	text-decoration:none;
	color: white;
	border: 1px dotted #a32b25;
	border-radius: 5px;
	background-color: #a32b25;
	padding: 5px 10px;
}

.actions:hover{
	text-decoration:none;
	color: #a32b25;
	border: 1px dotted white;
	border-radius: 5px;
	background-color: white;
}
.btn {
	margin-bottom: 10px;
}


#alignRight {
	float: right;
	margin-bottom: 5px;
}

.headLine {
	text-decoration:none;
	font-size: 32px;
	cursor: pointer;
	color: #add8e6;
	border-bottom: 1px solid #add8e6;
	border-radius: 10px;
}

.headLine:hover {
	text-decoration:none;
	cursor: pointer;
	color: #58b8d8;
	border-bottom: 1px solid #58b8d8;
	border-radius: 10px;
}

.navBarDiv{
	user-select: none;
}

.navbar-collapse{
	justify-content: flex-end !important;
}


.formsy {
	float:right !important;
}

.nav-pills {
	display: block;
}

.nav-pills a{
	position: relative;
	float:right;
}
ul li{
	list-style-type:none;
	font-size: 16px;
	display: inline;
}

tr{
	text-align: center;
	margin: auto 0px;
}

#resultMessageBox{
	width: 50%;
	text-align: center;
	margin: 10px auto;
}

.cusFileInput {
	width:100%;
}